<div class="about" id="about" data-aos="zoom-in-up">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="aboutimage">
                    <img src="{{about.image.url}}" width="100%">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="abouttext">
                    <h4>WELCOME TO VIRTUAL PRINT</h4>
                    <h2>
                        We Are VIRTUAL PRINT Creative Studio Agency
                    </h2>
                    <p>
                        {{about.text}}
                    </p>
                </div>
                <div class="textflex">
                    <div>
                        <p>Expert Team</p>
                    </div>
                    <div>
                        <p>Solution for Business</p>
                    </div>
                </div>
                <a href="#" type="button" class="about_btn">GET IN TOUCH WITH US</a>
            </div>
        </div>
    </div>
</div>