<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4 ffirst">
                <h4>SUBSCRIPTION</h4>
                <div class="sub">
                    <input type="text" placeholder="Your email address">
                    <button type="button" class="btn">SUBSCRIPTION</button>
                </div>
                <h4>STAY CONNECTED</h4>
                <div class="media">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-google-plus"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-whatsapp"></i>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 buy">
                <h4>HOW TO BUY</h4>
                <a href="">Create an Account</a>
                <br>
                <a href="">Making Payments</a>
                <br>
                <a href="">Delivery Options</a>
                <br>
                <a href="">Privacy Policy</a>
                <br>
                <a href="">Terms and Conditions</a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 buy">
                <h4>CUSTOMER SERVICE</h4>
                <a href="">Customer Support</a>
                <br>
                <a href="">About us</a>
                <br>
                <a href="">Contact us</a>
                <br>
                <a href="">Affiliate Program</a>
                <br>
                <a href="">Blog</a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>
            Copyright © 2021. All rights reserved | Design by Tomisin Isaac
        </p>
    </div>
</div>