{% load static %}
<div class="picture-overlay" data-aos="slide-right">
    <header class="showcase">
        <div class="container">
            <div class="row head">
                <div class="col-sm-12 col-md-6 col-lg-10">
                    <p>phone no: <strong>{{setting.phone}}</strong> or email us: <strong>{{setting.email}}</strong></p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-2">
                    <div class="media">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="rule">
        <nav class="navbar navbar-toggleable-md navbar-inverse">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="{{setting.logo.url}}" alt="" width="200px" height="150px">
                </a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="mainNav">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="index.html">Home</a>
                        <a class="nav-item nav-link" href="#about">About</a>
                        <a class="nav-item nav-link" href="#services">Service</a>
                        <a class="nav-item nav-link" href="#port">Portfolio</a>
                        <a class="nav-item nav-link" href="#contact">Contact</a>
                    </div>
                </div>
            </div>
        </nav>
        <hr class="rule2">
        <div class="row text">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="blank"></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="headtext">
                    <span>WELCOME TO VIRTUAL PRINT</span>>
                    <h1>WE CREAT WEBSITE, WRITE UPS, JUST THE WAY YOU WANT IT AT VIRTUAL PRINT</h1>
                    <P>We are enquiped with the best resouces to bring your imagination into life,
                        we breath in perfection into your imgination and ensures it stands out.
                    </P>
                </div>
            </div>
        </div>
    </header>
</div>