{% extends 'base.html' %}
{% load static %}

<!-- HEADER  -->
{% block header %} {% include "header.html" %} {% endblock header %}

<!--SERVICES  -->
{% block service %} {% include "service.html" %} {% endblock service %}

<!-- ABOUT  -->
{% block about %} {% include "about.html" %} {% endblock about %}

<!-- TEAM  -->
{% block team %} {% include "team.html" %} {% endblock team %}

<!-- PORTFOLIO  -->
{% block portfolio %} {% include "portfolio.html" %} {% endblock portfolio %}

<!-- QUESTIONS  -->
{% block questions %} {% include "questions.html" %} {% endblock questions %}

<!-- TESTIMONIES  -->
{% block testimonies %} {% include "testimonies.html" %} {% endblock testimonies %}

<!-- CONTACT  -->
{% block contact %} {% include "contact.html" %} {% endblock contact %}

<!-- FOOTER  -->
{% block footer %} {% include "footer.html" %} {% endblock footer %}