<div class="questions" data-aos="slide-right">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="info">
                    <img src="{{questions.image.url}}" width="100%">
                    <h2>Why Choose Us for Your Next Project?</h2>
                    <div class="boxs">
                        <h4>Creative Ideas</h4>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    </div>
                    <div class="boxs">
                        <h4>Better Strategy with High Quality Business</h4>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="question-text">
                    <h6>ANSWERS TO FREEQUESNTLY ASK QUESTION</h6>
                    <h3>FREEQUESNTLY ASK QUESTION</h3>
                </div>
                <div>
                    <div class="dropdown">
                        <span type="button" class="dropdown-toggle" data-toggle="dropdown">
                            How To Fix A Problem ?
                        </span>
                        <div class="dropdown-menu">
                            <ol>
                                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, eligendi</li>
                                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, eligendi</li>
                                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, eligendi</li>
                                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, eligendi</li>
                                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, eligendi</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="dropdown">
                        <span type="button" class="dropdown-toggle" data-toggle="dropdown">
                            How To Manage A Website ?
                        </span>
                        <div class="dropdown-menu">
                            <ol>
                                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, eligendi</li>
                                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, eligendi</li>
                                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, eligendi</li>
                                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, eligendi</li>
                                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, eligendi</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="dropdown">
                        <span type="button" class="dropdown-toggle" data-toggle="dropdown">
                            How To Grow Your Investments Funds ?
                        </span>
                        <div class="dropdown-menu">
                            <ol>
                                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, eligendi</li>
                                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, eligendi</li>
                                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, eligendi</li>
                                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, eligendi</li>
                                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, eligendi</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="dropdown">
                        <span type="button" class="dropdown-toggle" data-toggle="dropdown">
                            What Are Those Requirments For Business ?
                        </span>
                        <div class="dropdown-menu">
                            <ol>
                                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, eligendi</li>
                                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, eligendi</li>
                                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, eligendi</li>
                                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, eligendi</li>
                                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, eligendi</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>